<!DOCTYPE html>
<html>
<head>
    <title>{{ post.TITLE }}</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.1.2/dist/tailwind.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet"> <!--load all styles -->
</head>
<body>
<section aria-labelledby="feature-five" id="feature-five" class="overflow-y-auto bg-white lg:h-screen">
    <div class="px-8 py-24 mx-auto lg:px-16 max-w-7xl md:px-12 xl:px-36 lg:flex">
      <div class="lg:w-1/2">
        <div class="top-0 pt-8 pb-16 lg:sticky">
          <div>
            <div class="lg:pr-24 md:pr-12">
              <div>
                <p class="text-2xl font-medium tracking-tight text-black sm:text-4xl">
                   {{ post.TITLE }}
                </p>
                <p class="max-w-xl mt-4 text-lg tracking-tight text-gray-600">
                    {{ post.SUMMARY }}
                </p>
              </div>
              <img src="https://dsc.cloud/quickshare/Shared-Image-2023-06-02-09-03-23.png" alt="alternatetext">
            </div>
            
          </div>
        </div>
      </div>
      <div class="lg:w-1/2">
        <div class="flex-shrink-0">
          <div>
            <ul class="grid grid-cols-1 gap-12 mt-6 list-none lg:mt-0 lg:gap-24" role="list">
              <li>
                <div>
                  <div class="flex items-center">
                    <div class="flex items-center justify-center w-12 h-12 text-black bg-gray-100 rounded-xl">
                        ❖
                    </div>
                    <p class="ml-2 text-lg font-medium leading-6 text-black">
                        Overview
                    </p>
                </div>
                <div class="mt-2 text-base text-gray-500">
                    {{ post.content | safe }}
                </div>
                
              </li>
              <li>
                <div>
                  <div class="flex items-center">
                    <div class="flex items-center justify-center w-12 h-12 text-black bg-gray-100 rounded-xl">
                        ❖
                    </div>
                    <p class="ml-2 text-lg font-medium leading-6 text-black">
                    Requirements
                  </p>
                </div>
                <div class="mt-2 text-base text-gray-500">
                  <ul>
                  {% for requirement in post.REQUIREMENTS %}
                    <li>- {{ requirement }}</li>
                  {% endfor %}
                  </ul>
                </div>
              </li>
              <li>
                <div>
                  <div class="flex items-center">
                    <div class="flex items-center justify-center w-12 h-12 text-black bg-gray-100 rounded-xl">
                        ❖
                    </div>
                    <p class="ml-2 text-lg font-medium leading-6 text-black">
                    Resources Created
                  </p>
                </div>
                <div class="mt-2 text-base text-gray-500">
                  <ul>
                  {% for resource in post.RESOURCES %}
                    <li>  - {{ resource }}</li>
                  {% endfor %}
                  </ul>
                </div>
              </li>
              <li>
                <div>
                  <div class="flex items-center">
                  <form class="flex flex-col items-center max-w-lg" action="/submit-api-key" method="POST">
                    <div class="flex flex-col w-full gap-1 mt-3 sm:flex-row">
                      <input name="apikey" type="password" class="block w-full px-4 py-2 text-sm font-medium text-gray-800 placeholder-gray-400 bg-white border border-gray-300 rounded-full font-spline focus:border-blue-500 focus:outline-none focus:ring-2 focus:ring-blue-600/50 disabled:opacity-50" placeholder="Enter Your API Key" required="">
                      <button type="submit" class="items-center inline-flex justify-center w-full px-6 py-2.5 text-center text-white duration-200 bg-black border-2 border-black rounded-full nline-flex hover:bg-transparent hover:border-black hover:text-black focus:outline-none lg:w-auto focus-visible:outline-black text-sm focus-visible:ring-black">
                        <div style="position: relative"></div>
                        Deploy Template
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true" class="w-4 h-auto ml-2">
                          <path fill-rule="evenodd" d="M3 10a.75.75 0 01.75-.75h10.638L10.23 5.29a.75.75 0 111.04-1.08l5.5 5.25a.75.75 0 010 1.08l-5.5 5.25a.75.75 0 11-1.04-1.08l4.158-3.96H3.75A.75.75 0 013 10z" clip-rule="evenodd"></path>
                        </svg>
                      </button>
                    </div>
                </form>

                
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
</body>
</html>
